
.container{
   
    background-color: rgb(28, 8, 46);
}

.image{
    border-radius: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;

}

.header{
    color: whitesmoke;
justify-content: center;
font-family: 'Cursive', 'Brush Script MT', 'Lucida Handwriting';
margin-left: 60px;
}

.para{
    color: whitesmoke;
    margin-left: 20px;
    font-size: smaller;
}