
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(28, 8, 46);
}

.image{
    border-radius: 5px;
    width: 200px;
   
}

.header{
    color: whitesmoke;

}

.para{
    color: whitesmoke;

    font-size: smaller;
}