/* Add your code in each class */
body {
  background-color: rgb(44, 20, 58);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 300px;
  
 margin: auto;
  margin-top: 100px;
}
.movie-card {
  background-color: bisque;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  margin: 90px;
  position: relative;
}
.movie-image {
  position: absolute;
  width: 100%;
  object-fit:cover;
  height: 100%;
  border-radius: 12px;
}
.movie-details-container {
}
.descriptions {
  position: absolute;
  color: antiquewhite;
  top: 150px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 12px;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/top: 0px;
border-radius: 12px;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {

}

.container:hover{
height: 500px;
width: 400px;

}
